.paragraph-1{
    font-size: larger;
    color:  white;
    text-align: justify;
    padding-top:50px;
    padding-left: 100px;
    margin-left: 450px;
    margin-right:100px;
}
.image-1{
    width:10px;
    height:10px;
    padding-top: 150px;
    padding-left:200px ;
    border-radius: 50%;
}
body{
    background-color:rgb(74, 74, 84);
    cursor: pointer;
}